*{
box-sizing: border-box;
margin: 0;
padding: 0;
scroll-behavior: smooth;
}

body{
    position: relative;
}

img{
    vertical-align: middle;
}

.container {
    width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin:0 auto;
}
.site-header__top {
    background-color: #f6f6f6;
}
.site-header__top-inner {
    padding: 17px 0;
    display: flex;
    align-items: center;
}
.site-header__top-inner__logo-link {
    margin-right: 35px;
}
.site-header__top__logo {
    width: 246px;
    height: 45px;
}
.site-header__currency-list {
    list-style: none;
    width: 158px;
    justify-content: space-between;
    display: flex;
}
.value {
    color: #2959ce;
}
.form {
    margin-left: auto;
}
.form_input {
    margin-right: 25px;
    padding: 13px 15px 12px;
    border-radius: 60px;
    width: 275px;
    border: none;
}
.site-header__contact {
    display: inline-block;
    text-decoration: none;
    background-color: #7296ec;
    color: #fff;
    padding: 13px 20px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 8px;
}
.user__language{
    background-color: #bacfff;
    color: #fff;
    padding: 3px 3px;
    border-radius: 20px;
}
.go{
    background-color: #fff;
    color: black;
}
.language{
    margin-right: 25px;
    display: inline-block;
    background-color: #bacfff;
    border-radius: 20px;
}
.visually-hidden{ 
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.site-header__middle {
    margin-top: 30px;
    margin-bottom: 40px;
}
.site-header__list {
    border-bottom: 3px solid #D1D1D1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-header__item {
    list-style: none;
    margin-bottom: 20px;
}
.site-header__link {
    text-decoration: none;
    color: #7f7f7f;
}
.site-header__link {
    text-decoration: none;
}
.site-header__bottom-img {
    width: 1100px;
    height: 128px;
}



.hero {
    margin-top: 50px;
}
.hero__list {
    margin-left: 100px;
}
.hero__item {
    display: inline-block;
    padding: 17px;
    list-style: none;
    background-color: #f6f6f6;
    border-radius: 15px;
    width: 293px;
    height: 334px;
    margin-bottom:10px;
}
.hero__text {
    opacity: 0.6;
    margin-bottom: 10px;
    margin-top: 10px;
}
.hero__info{
    margin-top: 15px;
}
.hero__img {
    width: 259px;
    height: auto;
}
.hero__span {
    opacity: 0.6;
}
.active{
    padding-bottom: 0;
    height: 313px;
}
.abc{
    margin-bottom: 0;
}
.cba{
    margin-left: 10px;
    margin-right: 10px;
}
.hero__bottom {
    margin-top: 60px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
.hero-bottom__link {
    text-decoration: none;
    border-radius: 5px;
}
.hero-bottom__img{
    width: 1000px;
    height:auto;
    margin-bottom: 60px;
}

.world {
    display: flex;
}
.world__heading {
    display: inline-block;
}
.world__list {
    margin-top: 20px;
    margin-bottom: 17px;
}
.world__item {
    list-style: none;
    width: 710px;
    border-radius: 15px;
    background-color: #f6f6f6;
    padding: 20px 10px ;
    margin-bottom: 10px;
}
.world__img {
    display: inline-block;
    width: 200px;
    height: auto;
    margin-right: 15px;
}
.world__active {
    width: 435px;
    display: inline-block;
    vertical-align: middle;
}
.world__text {
    opacity: 0.6;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 17px;
    vertical-align: middle;
}
.world__span {
    opacity: 0.6;
}
.world__link{
    text-decoration: none;
    background-color: #eaeaea;
    border-radius: 7px;
    padding: 13px;
    display: block;
    color: #000;
    font-weight: 600;
    text-align: center;
}

.world__right {
    margin-top: 45px;
    margin-left: 10px;
    width: 350px;

}
.world-right_list {
    background-color: #f6f6f6;
    border-radius: 15px;
    padding-left: 20px;
    width: 390px;
    height: 450px;
}
.world-right_heading {
    padding-top: 20px;
    margin-bottom: 10px;
    font-weight: 900;
}
.world-right_item {
    list-style: none;
    border-bottom: solid 2px #cccccc;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.world-right_text {
    padding-bottom: 8px;

}
.world-right_span {
    opacity: 0.6;
}
.sss{
    padding-bottom: 0;
    padding-bottom: 6px;
}
.world__main{
    display: flex;
}
.world-right__link-img {
    width: 393px;
    height: 338px;
    margin-top: 10px;
}
.site-footer {
    background-color: #7297EF;
    margin-top: 100px;
    padding: 40px 0 40px;
}
.footer-active {
    padding-left: 100px;
    display: inline-block;
}
.footer__img {
    margin-bottom: 15px;
}
.footer__text {
    color: #fff;
    width: 390px;
    margin-bottom: 71px;
}
.footer__list {
    margin-left: 100px;
    display: inline-block;
}
.footer__item {
    display: inline-block;
    margin-left: 100px;
    list-style: none;
}
.footer---acitve {
    margin: 0;
}
.footer__link {
    text-decoration: none;
    margin-bottom: 20px;
    display:block;
    color: #fff;
}
.aaaa{
    border-bottom: 3px solid #f6f6f6;
    height: 200px;
}
.active-footer {
    margin: 0;
}
.footer-app{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}
.footer-app__text {
    color: #fff;
    margin-left: 100px;
}
.footer-app__link {
    margin-left: 25px;
}
.texttt{
    margin-top: 50px;
}
.right{
    margin-top: 100px;
}
.right-img{
    height: 553px;
}

.news-left {
    width: 720px;
    height: 970px;
    border-bottom: 2px solid rgb(186, 186, 186);
}
.strong {
    font-weight: 700;
}
.news-text {
    margin-bottom: 35px;
    width: 600px;
}
.iii{
    margin-bottom: 25px;
    margin-top: 20px;
    width: 715px;
    height: 280px;
}
.acctive{
    height: 550px;
}
.main{
    display: flex;
}
.heading{
    margin-top: 0;
}
.economic {
    margin-top: 60px;
}
.economic-str {
    font-weight: 600;
}
.economic-list {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.economic-item {
    list-style: none;
    width: 333px;
    height: 200px;
    background-color: #f6f6f6;
    border-radius: 15px;
    padding: 20px 18px 15px 17px;
}
.economic-head {
    padding-bottom: 20px;
}
.economic-heading {
    padding-bottom: 10px;
}
.economic-text {
    opacity: 0.6;
}
.economic-logoo {
    margin-top: 20px;
}
.accctive{
    width: 320px;
}
.site-header__link:hover{
    border-bottom: 3px solid #191919;
    }
    .site-header__link {
        display: inline-block;
        text-decoration: none;
        padding: 16px 16px 13px;
        border-bottom: 3px solid transparent;
    }
    .activesss{
        height: 260px;
    }
    .accc{
        border-bottom: none;
    }
    .contact__heading {
        margin-bottom: 20px;
    }
    .contact__form {
        width: 696px;
    }
    .contact-input {
        padding: 18px 20px;
        border-radius: 10px;
        width: 343px;
        margin-left: 5px;
        border: solid 1px #777;
    }
    .contact-input-email {
        border-radius: 10px;
        padding: 18px 20px;
        width: 696px;
        border: solid 1px #777;
        margin-top: 10px;
    }
    .vvv{
        margin: 0;
    }
    .contact-text {
        margin-bottom: 20px;
        padding: 18px 20px;
        border-radius: 10px;
        border: solid 1px #777;
        margin-top: 10px;
        width: 696px;
        height: 132px;
    }
    .contact-btn{
    color: #fff;
    background-color: #7297EF;
    padding: 17px 20px;
    border-radius: 10px;
    border: none;
    width: 145px;
    margin-left: 555px;
    }
    .mmm{
        margin-top: 0;
    }
    .www{
        opacity: 1;
    }
    .wvw{
        font-weight: 600;
    }
    .scroll {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #eaeaea;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }
    .scroll2 {
        position: absolute;
        bottom: 0;
        right: 40px;
        background-color: #eaeaea;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }
    .scroll3{
        position: absolute;
        bottom: 0;
        right: 80px;
        background-color: #eaeaea;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }
    .scroll4{
        position: absolute;
        top: 0;
        right: 0px;
        background-color: #eaeaea;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }
    .asc{
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #eaeaea;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }
    .asc2{
        position: absolute;
        bottom: 0;
        right: 40px;
        background-color: #eaeaea;
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }
    .form__switch-label {
        display: flex;
        width: 60px;
        background-color: #bacfff;
        border-radius: 30px;
        padding: 3px;
    }
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    .form__switch-span {
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #fff;
        transition: all 0.6s ease;
    }
    .form__switch-input:checked + .form__switch-label {
        background-color: #bacfff;
    }
    .form__switch-input:checked + .form__switch-label .form__switch-span{
        transform: translateX(29px);
    }
    .form-uzb{

    color: #ababab;
    text-decoration: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
    }
    .form-rus{
        color: #ababab;
        text-decoration: none;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
    }
    .language{
        position: relative;
    }
.uzb{
    color: #000;
    text-decoration: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
}
.rus{
    color: #000;
    text-decoration: none;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
}